<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Author</title>
</head>
<body>
<h2>Add a new author</h2>
<form th:action="@{/admin/addAuthor}" method="post" th:object="${author}">
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"><br>

    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"><br>

    <button type="submit">Add Author</button>
</form>
</body>
</html>