<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
<h2>User Information</h2>
<div th:if="${reader}">
    <p><strong>Name:</strong> <span th:text="${reader.username}"></span></p>
    <p><strong>Email:</strong> <span th:text="${reader.email}"></span></p>
    <p><strong>Status blocked:</strong>
        <span th:text="${reader.blocked}"></span>
    </p>
    <p><strong>Roles:</strong>
        <span th:each="role, iterable : ${reader.roles}">
            <span th:text="${role.name}"></span>
            <span th:if="${!iterable.last}">, </span>
        </span>
    </p>
</div>
<div th:if="${reader.orders.size() > 0}">
    <table>
        <caption><b> User Orders: </b></caption>
        <tr>
            <th>Book name</th>
            <th>Order Date</th>
            <th>Return Date</th>
            <th>Is book returned</th>
        </tr>
        <tr th:each="order : ${reader.orders}">
            <td th:text="${order.book.title}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.returnDate}"></td>
            <td th:text="${order.returned}"></td>
        </tr>
    </table>
</div>
<div th:unless="${reader}">
    <p>User not found.</p>
</div>
<a th:href="@{/templates/reader/showUserList}">Back to User List</a>
</body>
</html>