<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Status blocked</th>
        <th>Action</th>
    </tr>
    <tr th:each="reader : ${readers}">
        <td><a th:href="@{/templates/reader/userInfo/{id}(id=${reader.id})}" th:text="${reader.username}"></a></td>
        <td th:text="${reader.email}"></td>
        <td th:text="${reader.blocked}"></td>
        <td>
            <form th:action="@{/templates/reader/blockUser/{id}(id=${reader.id})}" method="post">
                <input type="submit" th:value="${reader.blocked ? 'Unblock' : 'Block'}">
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/templates/reader/showUserList}">Show author list</a>
</body>
</html>
