<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="header/admin-panel"></div>
<div class="container mt-5">
    <h2>Users List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Status blocked</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reader : ${readers}">
            <td><a th:href="@{/admin/userInfo/{id}(id=${reader.id})}" th:text="${reader.username}"></a></td>
            <td th:text="${reader.email}"></td>
            <td th:text="${reader.blocked}"></td>
            <td>
                <form th:action="@{/admin/blockUser/{id}(id=${reader.getId()})}" method="post">
                    <input type="submit" class="btn btn-sm btn-danger" th:value="${reader.blocked ? 'Unblock' : 'Block'}">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/showUserList}" class="btn btn-primary mt-3">Show author list</a>
</div>
</body>
</html>