<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .book-card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            text-align: center;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .book-photo {
            width: 150px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<nav>
    <span th:replace="~{${isAdmin} ? 'header/admin-panel' : 'header/reader-panel'}"></span>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Catalog</h1>
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div th:each="book : ${books}" class="col-md-4">
                    <form th:action="@{/user/addOrder/{bookId}(bookId=${book.id})}" method="post">
                        <div class="book-card">
                            <img th:src="@{~/bookphoto/{photo}(photo=${book.photo})}" class="book-photo" alt="Book Photo">
                            <h4><a th:href="@{/catalog/bookInfo/{id}(id=${book.id})}" th:text="${book.title}">Name</a></h4>
                            <p>Authors:</p>
                            <ul class="list-unstyled">
                                <li th:each="author : ${book.authors}">
                                    <a th:href="@{/catalog/authorInfo/{id}(id=${author.id})}" th:text="${author.firstName + ' ' + author.lastName}"></a>
                                </li>
                            </ul>
                        </div>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>