<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Del 1</title>
</head>
<body>

<h1>User exist</h1>
<p>My first paragraph.</p>

<span sec:authentication="principal.fullName">Fullname</span>
<span sec:authentication="principal.authorities">Roles</span>
<form th:action="@{/checkUser}" method="get">
    <button type="submit">Check</button>
    <p>New here? Click<a th:href="@{/login}"> here</a> to register.</p>
</form>

</body>
</html>