<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="~{header/reader-panel}"></div>
<div class="container mt-5">
    <h2>Author List</h2>
    <div class="pagination">
        <div class="d-flex flex-column">
            <div>
                <form th:action="@{/user/showReaderMessages}" method="get">
                    <input type="number" id="pageSize" name="pageSize" min="1">
                    <button type="submit" class="btn btn-primary mb-2">Set records per page</button>
                </form>
            </div>
            <div>
                <a th:href="@{/user/showReaderMessages(page=${-1})}" class="btn btn-primary" role="button">Previous Page</a>
                <a th:href="@{/user/showReaderMessages(page=${1})}" class="btn btn-primary" role="button">Next Page</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Message title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td><a th:href="@{/user/showMessageInfo/{messageId}(messageId=${message.id})}" th:text="${message.title}"></a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/user/showReaderOrderList}" class="btn btn-primary">Back to my orders</a>
</div>
</body>
</html>