<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<table>
    <tr>
        <th>Book Title</th>
        <th>Order Date</th>
        <th>Return Date</th>
        <th>Is order returned</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td><a th:href="@{/book/bookInfo/{id}(id=${order.book.id})}" th:text="${order.book.title}"></a></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.returnDate}"></td>
        <td th:text="${order.returned}"></td>
    </tr>
    </tr>
</table>
<a th:href="@{/book/showBookList}">Add New Book</a>
</body>
</html>