<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{header/reader-panel}"></div>
<div class="container mt-5">
    <h2 class="mb-3">Order List</h2>
    <div class="pagination">
        <div class="d-flex flex-column">
            <div>
                <form th:action="@{/user/showReaderOrderList}" method="get">
                    <input type="number" id="pageSize" name="pageSize" min="1">
                    <button type="submit" class="btn btn-primary mb-2">Set records per page</button>
                </form>
            </div>
            <div>
                <a th:href="@{/user/showReaderOrderList(page=${-1})}" class="btn btn-primary" role="button">Previous Page</a>
                <a th:href="@{/user/showReaderOrderList(page=${1})}" class="btn btn-primary" role="button">Next Page</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Order Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Is Order Returned</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <a th:href="@{/catalog/bookInfo/{id}(id=${order.book.id})}" th:text="${order.book.title}"></a>
            </td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.returnDate}"></td>
            <td th:text="${order.returned}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" th:href="@{/catalog/showBookCatalog}">Show Book Catalog</a>
</div>
</body>
</html>